@font-face {
  font-family: 'MartelSans';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/MartelSans-ExtraBold.woff2') format(woff2),
  url('../fonts/MartelSans-ExtraBold.woff') format(woff);
}

@font-face {
  font-family: 'MartelSans';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/MartelSans-Bold.woff2') format(woff2),
  url('../fonts/MartelSans-Bold.woff') format(woff);
}

@font-face {
  font-family: 'MartelSans';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/MartelSans-Light.woff2') format(woff2),
  url('../fonts/MartelSans-Light.woff') format(woff);
}

@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Poppins-Regular.woff2') format(woff2),
  url('../fonts/MartelSans-Light.woff') format(woff);
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Poppins-Light.woff2') format(woff2),
  url('../fonts/Poppins-Light.woff') format(woff);
}

